.table-responsive::-webkit-scrollbar,
.cart-items-container::-webkit-scrollbar {
  width: 6px;
}
.table-responsive::-webkit-scrollbar-thumb,
.cart-items-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

@media print {
  body * {
    visibility: hidden;
  }
  #printable-ticket, #printable-ticket * {
    visibility: visible;
  }
  #printable-ticket {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 10px;
  }
}
