.breadcrumb-link{
  color: var(--first-color) !important;
}
.textEditProduct{
  color: var(--first-color);

}
.btn{
  background-color: var(--first-color);
  border: 0px;
}
.profile-picture {
    position: absolute;

    width: 200px;
    height: 200px;
    border-radius: 50%;

    background: white;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
}