<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="breadcrumb-link" href="dashboard">Dashboard</a></li>
          <li class="breadcrumb-item">Perfil</li>
        </ol>
    </nav>
    <h3>Datos de la Cuenta:</h3>
    <br>
    <br>

    <div class="content">
        <div class="row">
          <div class="col-12 col-md-4 d-flex justify-content-center align-items-center">
            <div class="profile-picture m-4">
              <div class="rounded-circle overflow-hidden" style="width: 200px; height: 200px;">
                <img [src]="loggedInUser?.image ? 'http://localhost:3003/' + loggedInUser?.image : 'https://th.bing.com/th/id/OIP.B0i24_Lna8GxdB3yDClP3wHaHa?w=256&h=256&rs=1&pid=ImgDetMain'" 
                  class="img-fluid" alt="Profile Picture">
              </div>
            </div>
          </div>
          <div class="col-12 col-md-8 d-flex align-items-center mt-4">
           <div class="row">
            <div class="col-12">
                <h3>{{loggedInUser?.name}}</h3>
            </div>
            <div class="col-12">
                <span class="text-muted">Usuario: </span><span>{{loggedInUser?.username}}</span>
            </div>
            <div class="col-12">
                <span class="text-muted">Email: </span> <span>{{loggedInUser?.email}}</span>
            </div>
            <div class="col-12">
                <span class="text-muted">CI: </span> <span>{{loggedInUser?.ci}}</span>
            </div>
            <div class="col-12">
              <span class="text-muted">Cargo: </span><span>{{ getRoleName(loggedInUser?.role_id || 0) }}</span>
            </div>
            <div class="col-12">
              <span class="text-muted">Estado: </span><span>{{ getStatusName(loggedInUser?.status_id || 0) }}</span>
            </div>
           </div>
          </div>
        </div>
      </div>
</div>