<div class="container">
      <!-- BREADCRUM -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a class="breadcrumb-link" href="dashboard">Dashboard</a></li>
      <li class="breadcrumb-item"><a type="button" class="breadcrumb-link" (click)="goToProductList()">Inventario</a>
      </li>
      <li class="breadcrumb-item">Nuevo Producto</li>
    </ol>
  </nav>
  <h2 class="textEditProduct"><a type="button" (click)="goToProductList()"><i class="fa-solid fa-arrow-left"></i></a>
    Agregar Nuevo Producto</h2>
    <form id="editarProductoForm">
        <div class="row">
          <h5>Información Básica del Producto:</h5>
          <div class="col-lg-6 col-md-12 ">
            <div class="mb-2">
              <label for="editProductName" class="form-label">Nombre del Producto</label>
              <input type="text" class="form-control" placeholder="Ingrese el nombre" id="editProductName" name="editProductName">
            </div>
            <div class="mb-2">
              <label for="editProductCode" class="form-label">Código del Producto</label>
              <input type="text" class="form-control" placeholder="Ingrese el Código" id="editProductCode" name="editProductCode" >
            </div>
        
            <div class="mb-2">
              <label for="editProductDescription" class="form-label">Descripción</label>
              <input type="text" class="form-control" placeholder="Ingrese la descripción" id="editProductDescription" name="editProductDescription"
                >
            </div>
            <div class="mb-2">
              <label for="editProductPrice" class="form-label">Precio</label>
              <div class="input-group">
                <span class="input-group-text">Bs.</span>
                <input type="number" class="form-control" placeholder="Ingrese el precio" id="editProductPrice" name="editProductPrice"   step="0.01">
              </div>
            </div>
            <hr>
            <h5>Inventario y Seguimiento:</h5>
            <div class="mb-2">
              <label for="editProductCurrentStock" class="form-label">Stock Inicial</label>
              <input type="number" class="form-control" placeholder="Ingrese el stock inicial" id="editProductCurrentStock" name="editProductCurrentStock">
            </div>
            <div class="mb-2">
              <label for="editProductExpirationDate" class="form-label">Fecha de Caducidad</label>
              <input type="date" class="form-control" placeholder="Ingrese la fecha de caducidad" id="editProductExpirationDate" name="editProductExpirationDate" >
            </div>
            <hr>
            <h5>Proveedores y Logística:</h5>
            <div class="mb-2">
              <label for="editProductSupplier" class="form-label">Proveedor</label>

              <select class="form-control form-select" id="editProductSupplier"  name="editProductSupplier">
                  <option >Selecione un proveedor</option>
                @for(supplier of suppliers; track supplier.id){
                  <option  [value]="supplier.id">{{ supplier.name }}</option>
                }
              </select>
            </div>
    
    
            <div class="mb-2">
              <label for="editProductLotNumber" class="form-label">Numero de Lote</label>
              <input type="text" class="form-control" placeholder="Ingrese el numero de lote" id="editProductLotNumber" name="editProductLotNumber" >
            </div>
            <div class="mb-2">
              <label for="editProductStorageLocation" class="form-label">Ubicación de Almacenamiento</label>
              <input type="text" class="form-control" placeholder="Ingrese la ubicación de almacenamiento" id="editProductStorageLocation" name="editProductStorageLocation" >
            </div>
            <hr>
    
    
    
    
            <!-- price: number;
            initial_stock: number;
            expiration_date: Date;
            supplier_id: number;
            lot_number: string;
            storage_location: string;
            nutritional_information: string;
            notes: string;
            category_id: number;
            current_stock: number;
            created_at: Date;
            updated_at: Date; -->
          </div>
    
          <div class="col-lg-6 col-md-12 imgEdit">
    
    
            <div class="mb-2">
              <label for="editProductCategory" class="form-label">Categoría</label>
              <select class="form-select" name="" id="">
                <option value="">Seleccione una categoría</option>
                @for(category of categories; track category.id){
                  <option  [value]="category.id">{{ category.name }}</option>
                }
              </select>
            </div>
            
            <div class="row">
              <label for="editProductImage" class="form-label text-center">Imagen del Producto</label>
              <div class="col-12 text-center imagen-container">
                <img [src]="currentImageSource"  id="currentProductImage" class="img-thumbnail">
              </div>
              <div class="col-12 p-2 ">
                <input type="file" class="form-control" id="editProductImage" name="editProductImage"
                  (change)="onImageChange($event)">
              </div>
            </div>
            <hr>
            <h5>Informacion Adicional</h5>
            <div class="mb-2">
              <label for="editProductNotes" class="form-label">Notas:</label>
              <textarea class="form-control" placeholder="Ingrese alguna nota del producto (opcional)" id="editProductNotes" ></textarea>
            </div>
            <div class="mb-2">
              <label for="editProductNutritionalInformation" class="form-label">Información Nutrimental</label>
              <input type="text" class="form-control" placeholder="Ingrese la información nutrimental" id="editProductNutritionalInformation" name="editProductNutritionalInformation" >
            </div>
            <div class="mb-2 d-grid">
                <button type="submit" class="btn btn-primary btn-lg mt-5">Guardar cambios</button>
              </div>
          </div>


        </div>
      </form>
</div>