.img-fluid{
    max-width: 100%;
    height: 520px;
}
.window{

    background-color: #11a427;
    border-color: rgb(121, 120, 120);
    .nav_logo-name{
        font-size: 26px;
    }
    .formLogin{
        color: #ffffff;
        padding-right: 20px;
        .input{
            border: none;
            background-color: #ffffff;
            color: #000000;
            transition: all .2s ease-in-out;
            &:focus{
                outline: none;
                box-shadow: none;
            }
        }
    }
    .btnLogin{
        border: none;
        background-color: #b01a4e;
        color: #ffffff;
        box-shadow: 1px 0 10px #b01a4e;
        transition: all .2s ease-in-out;
        &:focus{
            outline: none;
            box-shadow: none;
        }
        &:hover{
            background-color: #dd2b66;
            border-color: #dd2b66;
            box-shadow: 1px 0 10px #dd2b66;
            color: #ffffff;
        }
    }
}
