<div class="container">
    <!-- BREADCRUM -->

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a>Dashboard </a></li>
          <li class="breadcrumb-item " aria-current="page"><a href=""></a></li>
        </ol>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-2">
              <div class="card">
                <div class="card-body">
                  <i class="fa-solid fa-dollar-sign text-suscess"></i>
                  <h5 class="card-title">Vender</h5> 
                </div>
              </div>   
            </div>
        <div class="col-2">
          <div class="card">
            <div class="card-body">
              <i class="fa-solid fa-pills"></i>
              <h5 class="card-title">Registrar</h5> 
            </div>
          </div>
        </div>
    </div>
</div>