
/*Aqui agregaras los estilos para la imagen del producto dentro de la tabla Listado de productos*/
.imgProduct {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin: 5px;
}
.dropdown-menu .dropdown-item{
    
    cursor: pointer;
    &:active{
        background-color: var(--first-color);
    }
    &:hover {
        background-color: #dd2b66; /* Color de fondo al pasar el puntero */
        color: #ffffff; /* Cambia el color de texto al pasar el puntero */
        
    }
}
.dropdown-menu {
    border: 1px solid #979b9e; /* Borde del menú desplegable */
}

.dropdown-item {
    border-bottom: 1px solid #8b8e91; /* Borde entre cada item del menú desplegable */
}
.btn{
    background-color: var(--first-color);
    color: #ffffff; 
    &:hover {
        background-color: #dd2b66;
    }
}

