<div class="continer">
    <div class="row">
        <div class="col-12">
            <h4>Listado de productos</h4>
        </div>
    </div>
    <table class="table table-bordered border border-dark-subtle">
        <thead class="table-green" >
          <tr>
            <th>ID</th>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Código de Producto</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Stock Actual</th>
            <th>Fecha de Caducidad</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
            @for (product of products; track product.id) {
                <tr >
                    <td>{{ product.id }}</td>
                    <td><img class="imgProduct" src="{{ product.image }}" alt="product.name"></td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.product_code }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price | currency : 'Bs.' }}</td>
                    <td>{{ product.current_stock }}</td>
                    <td>{{ product.expiration_date | date:'shortDate' }}</td> 
                    <td>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle"  type="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Configuraciones
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" (click)="editProduct(product)">
                                        Editar 
                                        <i class="fa-solid fa-pen"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        Eliminar 
                                        <i class="fa-solid fa-trash"></i>
                                    </a>   
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        Stock
                                    </a>
                                </li>
                            </ul>
                          </div>
                    </td>
                  </tr>
            }
        </tbody>
      </table>
</div>
<br>
<br>
<div class="modal fade" id="exampleModalEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar Producto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="editarProductoForm">
                <div class="mb-3">
                  <label for="editProductName" class="form-label">Nombre del Producto</label>
                  <input type="text" class="form-control" id="editProductName" name="editProductName">
                </div>
                <div class="mb-3">
                  <label for="editProductCode" class="form-label">Codigo de Producto</label>
                  <input type="text" class="form-control" id="editProductCode" name="editProductCode">
                </div>
                <div class="mb-3">
                  <label for="editProductDescription" class="form-label">Descripción</label>
                  <input type="text" class="form-control" id="editProductDescription" name="editProductDescription">
                </div>
                <div class="mb-3">
                  <label for="editProductPrice" class="form-label">Precio</label>
                  <input type="text" class="form-control" id="editProductPrice" name="editProductPrice">
                </div>
              </form>
              
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Guardar Cambios</button>
        </div>
      </div>
    </div>
  </div>