<div class="continer">
    <div class="row">
        <div class="col-12">
            <h4 class="titleProduct">Listado de productos</h4>
        </div>
    </div>
    <table class="table table-bordered border border-dark-subtle">
        <thead class="table-green" >
          <tr>
            <th>ID</th>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Código de Producto</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Stock Actual</th>
            <th>Stock inicial</th>
            <th>Fecha de Caducidad</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
            @for (product of products; track product.id) {
                <tr >
                    <td>{{ product.id }}</td>
                    <td><img class="imgProduct" src="{{ product.image }}" alt="product.name"></td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.product_code }}</td>
                    <td>{{ product.user.name }}</td>
                    <td>{{ product.price | currency : 'Bs.' }}</td>
                    <td>{{ product.current_stock }}</td>
                    <td>{{product.initial_stock}}</td>
                    <td>{{ product.expiration_date | date:'shortDate' }}</td> 
                    <td>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle"  type="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Configuraciones
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" (click)="editProduct(product)">
                                        Editar 
                                        <i class="fa-solid fa-pen"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal" (click)="openDeleteConfirmationModal(product)">
                                        Eliminar 
                                        <i class="fa-solid fa-trash"></i>
                                    </a>   
                                </li>
                                <li>
                                    <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#stockAdjustmentModal"   (click)="openStockAdjustmentModal(product)" >
                                        Stock
                                    </a>
                                </li>
                            </ul>
                          </div>
                    </td>
                  </tr>
            }
        </tbody>
      </table>
</div>
<br>
<br>

<!-- Modal de confirmación -->
<div class="modal" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteConfirmationModalLabel">Eliminar Producto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de que deseas eliminar  "{{ productToDelete?.name }}"?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="confirmDelete()">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de ajuste de stock -->
<div class="modal" id="stockAdjustmentModal" tabindex="-1" aria-labelledby="stockAdjustmentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="stockAdjustmentModalLabel">Ajustar Stock</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      @if(productStock){
        <div>
          <div class="modal-body">
            <div class="row justify-content-center">
              <div class="col-2">  
                <button type="button" class="btn btn-success" (click)="increaseStock(productStock)">+</button>
              </div>
              <div class="col-3">
                <input class="form-control" type="number" value="{{ productStock.current_stock }}">
              </div>
              <div class="col-2">
                <button type="button" class="btn btn-danger" (click)="decreaseStock(productStock)">-</button>
              </div>
            </div>
          


          </div>
        </div>
      } @else{
        <div>
          <p>Producto no encontrado.</p>
        </div>
      }
      

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>